<h1><%= @municipe.full_name %></h1>

<p>Cadastro Atualizado com Sucesso</p>

<p>Clique no link abaixo para vizualizar suas informações</p>

<p><%= link_to 'Visualizar seu perfil', edit_municipe_url(@municipe.id), class: "button" %></p>
